
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#000428, #004e92);
}

button{
  background-color: inherit;
  padding: 0;
  border: none;
  background: none;
}

button:focus img{
  width: 350px;
  height: 350px;
}

.hblanc{
  color: white;
  font-size: 60px;
}


label, p, tbody{
    color: black;
    font-size: 25px;
}

.container1{
    min-height: 100vh;

}

.boite {
    border-bottom: 5px ridge rgb(88, 88, 88);
    border-right: 5px ridge rgb(88, 88, 88);
    background: linear-gradient(to right, red,  red), linear-gradient(to right, blue, blue), linear-gradient(to bottom, red,  red), linear-gradient(to bottom, blue, blue);
    background-color: white;
    border-radius: 7px;
    background-position: 0% 0%, 100% 100%, 0% 0%, 100% 100%;
    background-size: 0% 3px, 0% 3px, 3px 0%, 3px 0%;
    /* 2px is border thickness */
    
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .boite:hover {
    background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
    /* 2px is border thickness */
  }

  .boite2 {

    background: linear-gradient(to right, red,  red), linear-gradient(to right, blue, blue), linear-gradient(to bottom, red,  red), linear-gradient(to bottom, blue, blue);
    background-color: inherit;
    border-radius: 7px;
    background-position: 0% 0%, 100% 100%, 0% 0%, 100% 100%;
    background-size: 0% 3px, 0% 3px, 3px 0%, 3px 0%;
    /* 2px is border thickness */
    
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .boite2:hover {
    background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
    /* 2px is border thickness */
  }

  .test{
    font-size: 45px;
  }